@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/WebApplication2/wwwroot/css/test.css" asp-append-version="true" />

<div class="text-center">
    <p id="test-this">This is my test text. If this text is bold then the test is working.</p>
</div>
